name: SonarCloud Analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    name: Build and Analyze
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'

      - name: Setup SonarCloud
        uses: SonarSource/sonarcloud-github-action@v2.2.0
        with:
          organization: mazp73
          projectKey: parcial
          projectName: parcial
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Begin SonarScanner
        run: dotnet sonarscanner begin /k:"parcial" /o:"mazp73" /d:sonar.login="${{ secrets.SONAR_TOKEN }}"

      - name: Build project
        run: dotnet build --no-restore --configuration Release

      - name: End SonarScanner
        run: dotnet sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"
